envs:
  default:
    search:
      ipfsSearch:
        pageResultsTimeout: 15.0
        getMetadataTimeout: 10.0

    unixfs:
      dirWrapRules:
        # Rules that determine which UnixFS files/directories will be
        # directory-wrapped.
        # The 'types' list can contain either 'file' or 'directory'
        # The 'mfsTranslate' attribute sets the replacement regular
        # expression for the MFS entry name

        - match: '(.*)'
          types:
            - 'file'

          mfsTranslate: '\1.dirw'
          enabled: True
          priority: 0

    ipfsNetworks:
      main:
        name: main
        description: 'Main IPFS network'
        uri: urn:ipfs:networks:main

      invicta:
        name: invicta
        uri: urn:ipfs:networks:invicta
        description: 'Invicta IPFS network'

        covenant:
          en: |
            # Invicta IPFS network

            This IPFS network is meant to be used with galacteek.

            By joining the network you pledge to respect the rules of the
            network as best as you can.

            # Examples of unacceptable behavior by participants

            - Trolling, insulting/derogatory comments, and personal attacks
            - Public or private harassment
            - Sharing of inappropriate content
            - Publishing the private information of others, such as a physical or electronic address, without explicit permission
            - The use of sexualized imagery and unwelcome sexual attention or advances

            # Availability of content

            As this is a separate IPFS network, the majority of the content
            that is available in the main IPFS network is not directly
            accessible within this network. An effort will be made to
            backport a lot of the essential tools and content that makes
            using the dweb easier.

        covenantsAcceptedByCid: {}

        swarmKey: |
          /key/swarm/psk/1.0.0/
          /base16/
          916283e1e1e72d9703eb529ff9703d10337931b3ff22e01f013203525b367ae7

        bootstrap:
          - "/ip4/163.172.218.222/tcp/4002/p2p/12D3KooWBseK2TxiXKRTGmqz71iY3n2keJUSEgzYWkt6e4ZbWs1n"

    ipfsHttpGateways:
      # Uses gateways listed in
      # https://raw.githubusercontent.com/ipfs/public-gateway-checker/master/src/gateways.json

      networks:
        # Gateways for the main IPFS network
        main:
          gateway.pinata.cloud:
            priority: 0
          dweb.link:
            priority: 1
          gateway.ipfs.io:
            priority: 1
          cloudflare-ipfs.com:
            priority: 1
          c4rex.co:
            priority: 2
          infura-ipfs.io:
            priority: 3
          ipfs.infura.io:
            priority: 5
          ipfs.eth.aragon.network:
            priority: 5

    peering:
      #
      # Content Providers that with peer with by default
      # (source: docs.ipfs.io, 'peering-with-content-providers')
      #
      # As these lists will evolve over time, they're separated into
      # distinct sets by date, the default set used by default is identified
      # by the 'defaultSet' key
      #
      # The format of the entries matches exactly the format of
      # the peers entries in the go-ipfs 'Peering.Peers' config
      # setting (ID and Addrs)
      #
      # TODO: move this in a separate YAML config file
      #

      contentProvidersDb:
        defaultSet: '20220211'

        # Which content providers we use
        # At the moment there isn't more fine-grained control than this

        use:
          cloudfare: false
          textile: false
          pinataNyc: false
          pinataFra: false
          protocolLabs: false
          protocolLabsNft: false

        '20220211':
          cloudfare:
            - ID: QmcfgsJsMtx6qJb74akCw1M24X1zFwgGo11h1cuhwQjtJP
              Addrs: 
              - /ip6/2606:4700:60::6/tcp/4009
              - /ip4/172.65.0.13/tcp/4009

          textile:
            - ID: QmR69wtWUMm1TWnmuD4JqC1TWLZcc8iR2KrTenfZZbiztd
              Addrs:
                - /ip4/104.210.43.77

          pinataFra:
            - ID: QmWaik1eJcGHq1ybTWe7sezRfqKNcDRNkeBaLnGwQJz1Cj
              Addrs:
                - /dnsaddr/fra1-1.hostnodes.pinata.cloud
            - ID: QmNfpLrQQZr5Ns9FAJKpyzgnDL2GgC6xBug1yUZozKFgu4
              Addrs:
                - /dnsaddr/fra1-2.hostnodes.pinata.cloud
            - ID: QmPo1ygpngghu5it8u4Mr3ym6SEU2Wp2wA66Z91Y1S1g29
              Addrs:
                - /dnsaddr/fra1-3.hostnodes.pinata.cloud

          pinataNyc:
            - ID: QmRjLSisUCHVpFa5ELVvX3qVPfdxajxWJEHs9kN3EcxAW6
              Addrs:
                - /dnsaddr/nyc1-1.hostnodes.pinata.cloud
            - ID: QmPySsdmbczdZYBpbi2oq2WMJ8ErbfxtkG8Mo192UHkfGP
              Addrs:
                - /dnsaddr/nyc1-2.hostnodes.pinata.cloud
            - ID: QmSarArpxemsPESa6FNkmuu9iSE1QWqPX2R3Aw6f5jq4D5
              Addrs:
                - /dnsaddr/nyc1-3.hostnodes.pinata.cloud

          protocolLabs:
            - ID: QmUEMvxS2e7iDrereVYc5SWPauXPyNwxcy9BXZrC1QTcHE
              Addrs:
                - /dns/cluster0.fsn.dwebops.pub
            - ID: QmNSYxZAiJHeLdkBg38roksAR9So7Y5eojks1yjEcUtZ7i
              Addrs:
                - /dns/cluster1.fsn.dwebops.pub
            - ID: QmUd6zHcbkbcs7SMxwLs48qZVX3vpcM8errYS7xEczwRMA
              Addrs:
                - /dns/cluster2.fsn.dwebops.pub
            - ID: QmbVWZQhCGrS7DhgLqWbgvdmKN7JueKCREVanfnVpgyq8x
              Addrs:
                - /dns/cluster3.fsn.dwebops.pub
            - ID: QmdnXwLrC8p1ueiq2Qya8joNvk3TVVDAut7PrikmZwubtR
              Addrs:
                - /dns/cluster4.fsn.dwebops.pub

          protocolLabsNft:
            - ID: 12D3KooWCRscMgHgEo3ojm8ovzheydpvTEqsDtq7Vby38cMHrYjt
              Addrs:
                - /dns4/nft-storage-am6.nft.dwebops.net/tcp/18402
            - ID: 12D3KooWQtpvNvUYFzAo1cRYkydgk15JrMSHp6B6oujqgYSnvsVm
              Addrs:
                - /dns4/nft-storage-dc13.nft.dwebops.net/tcp/18402
            - ID: 12D3KooWQcgCwNCTYkyLXXQSZuL5ry1TzpM8PRe9dKddfsk1BxXZ
              Addrs:
                - /dns4/nft-storage-sv15.nft.dwebops.net/tcp/18402
