{% include "ld/lib/objects.jinja2" %}

<html>
  <head>
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>

    <style>
      body {
        background-color: #323232;
        font: 14pt "Montserrat";
        margin: 5px;
        color: white;
      }

      a {
        color: #fe921f;
        text-decoration: underline;
        font-size: 14pt;
      }

      a:hover {
        color: #ffffff;
      }

      h1 {
        color: #4a9ea1;
      }
      h2 {
        color: #4a9fa1;
      }
      h3 {
        color: #4a9ba1;
      }

      p {
        color: #A3E658;
      }

      pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      }
    </style>

    <meta charset="UTF-8">
    <title>I</title>

    <script type="text/javascript">
      new QWebChannel(qt.webChannelTransport, function (channel) {
        window.ld = channel.objects.ld;
        console.log('Acquired LD interface: ' + window.ld)
      })
    </script>

  </head>
  <body>
    <header>
    </header>

    <div class="page">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
