{% include "ld/lib/objects.jinja2" %}

<html>
  <head>
    <script src="qrc:///qtwebchannel/qwebchannel.js"></script>
    <script src="qrc:///share/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="qrc:///share/static/css/water.css">

    <style>
      body {
        background-color: #323232;
        font: 14pt "Montserrat";
        margin: 5px;
        color: white;
      }

      a {
        color: #fe921f;
        text-decoration: underline;
        font-size: 14pt;
      }

      a:hover {
        color: #ffffff;
      }

      h1 {
        color: #4a9ea1;
      }
      h2 {
        color: #4a9fa1;
      }
      h3 {
        color: #4a9ba1;
      }

      p {
        color: #A3E658;
      }

      pre {
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
      }
      textarea {
        width: 50%;
        min-width: 300px;
        min-height: 100px;
      }
    </style>

    <meta charset="UTF-8">
    <title>{{ rscUri }}</title>

    <script type="text/javascript">
      new QWebChannel(qt.webChannelTransport, function (channel) {
        window.ld = channel.objects.ld;
        window.ipid = channel.objects.ipid;
        window.sparql = channel.objects.sparql;

        console.log('Acquired LD interface: ' + window.ld)

        window.ipid.serviceEndpointCompact('/passport').then(function(pass) {
          window.passport = pass
        })
      })
    </script>

  </head>
  <body>
    <header>
    </header>

    <div class="page">
      <p align="center"><b>{{ rscUri }}</b></p>

      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
