__pycache__/
*.swp
*.swo
*.orig
*.py[cod]
*$py.class
ui_*.py
*.qm
*_rc.py
.Python
.tox
build/
dist/
eggs/
.eggs/
lib64/
parts/
sdist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
pip-log.txt
tmp/
.pytest_cache/
.buildinfo
.doctrees/
Pipfile.lock
Miniconda3*
go-ipfs*.tar.gz
