[Desktop Entry]
Type=Application
Name=Galacteek
Comment=IPFS Browser
Icon=galacteek
Exec=galacteek
Terminal=false
Categories=Network;P2P;WebBrowser;Qt;
StartupWMClass=galacteek
