[Desktop Entry]
Type=Application
Name=Galacteek
Comment=Distributed web browser
Icon=io.gitlab.galacteek.Galacteek
Exec=
Terminal=false
Categories=Network;P2P;WebBrowser;Qt;
StartupWMClass=galacteek
