[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
async-generator = ">=1.10"
pyqt5 = ">=5.12.2"
jinja2 = ">=2.10.1"
base58 = ">=1.0.2"
gitpython = ">=2.1.11"
py-multibase = "==1.0.1"
py-multicodec = "==0.1.3"
pymultihash = "==0.8.2"
aiofiles = ">=0.4.0"
aiohttp = ">=3.4.4"
quamash = ">=0.6.1"
aioipfs = ">=0.4.1"
jsonschema = ">=2.6.0,<3"
json-traverse = ">=0.4"
protobuf = ">=3.6.1"
pycryptodomex = ">=3.6.6"
logbook = ">=1.4.0"
multiaddr = ">=0.0.8"
python-magic = ">=0.4.15"
pillow = ">=6.0.0"
pyzbar = ">=0.1.8"
qrcode = ">=6.1"
pyqtwebengine = "==5.12"
pygments = ">=2.3.1"
markdown = ">=3.0"
feedgen = ">=0.7.0"
feedparser = ">=5.2.0"
async-timeout = ">=3.0.1"
aiosqlite = ">=0.10.0"
web3 = ">=4.9.2"
aiodns = ">=2.0.0"

[dev-packages]
pytest = "*"
pytest-qt = "*"
pytest-asyncio = "*"
pytest-xvfb = "*"
pipenv-to-requirements = "*"
flake8 = "*"
wheel = "*"
tox = "*"
py-solc-x = ">=0.4.0"
vyper = "==0.1.0b10"

[requires]
python_version = "3.6"
