aiofiles==0.3.2
aiohttp==3.3.2
aioipfs==0.3
async-generator==1.10
base58==1.0.0
gitpython==2.1.11
jinja2==2.10
py-multibase==0.1.2
py-multicodec==0.1.2
pymultihash==0.8.2
pyqt5==5.10
quamash==0.6.1
sphinx>=1.7.0
wheel
yarl==1.2.6
