body {
    background-color: #323232;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 14pt;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4a9ea1;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.blog-post {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;

    background-color: #2e7690;

    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 60px;
}

h2.blog-title {
    color: #2457A2;
    color: black;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

a:visited {
    color: lightgray;
}

.blog-post-body {
    margin-left: 20px;
    word-wrap: break-word;
}

.blog-posts {
    padding: 10px;
    margin: 10px;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
