body {
    background-color: #DAD6B5;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.blog-post {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    background-color: #DAD9EB;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 50px;
}

h2.blog-title {
    color: #2457A2;
}

a {
    color: #2457A2;
}

.blog-post-body {
    margin-left: 20px;
}

.blog-posts {
    padding: 10px;
    margin: 10px;
}
