<h3>
    <img src="qrc:///share/icons/ipfs-cube-64.png" width="32" height="32" />
    Search results: {{ resultsCount }} hits ({{ pageCount }} pages)
</h3>

{% set preview_mimetypes = [
    'text/plain',
    'text/css',
    'application/xml',
    'application/x-sh',
    'application/json',
    'application/javascript' ] %}
{% set preview_maxsize = 32 * 1024 %}

{% for hit in hits %}
<div id="{{ hit['hash'] }}" class="hit" onmouseout="this.style.background='#e0e0d1'">
        <div class="content">
            <p style="text-align: left">
            <a href="#" onclick='window.openIpfs("{{ hit.path }}")' >{{ hit.title }}</a>
            <a href="#" onclick='window.hashmark("{{ hit.path }}")'><img src="qrc:///share/icons/star-navy.png" width="16" height="16"/></a>
            <a href="#" onclick='window.ipfssearch.pinObject("{{ hit.path }}")'><img src="qrc:///share/icons/pin.png" width="16" height="16"/></a>
            <a href="#" onclick='window.ipfssearch.clipboardInput("{{ hit.path }}")'><img src="qrc:///share/icons/clipboard.png" width="16" height="16"/></a>

{% if hit['type'] == 'directory' %}
            <a href="#" onclick='window.exploreIpfs("{{ hit['path'] }}")'><img src="qrc:///share/icons/folder-open-black.png" width="16" height="16"/></a>
{% endif %}
            <span style="float: right; width: 30%">
                Mime type: <b>{{ hit['mimetype'] }}</b> Size: <b>{{ hit['sizeformatted'] }}</b>
            </span>
        </p>

        <div id="{{ hit.hash }}_description" class="hitdescr">

{% if hit['description'] and not hit['description'] == '' %}
    <p>{{ hit['description'] }} </p>
{% else %}
    <p>No description available for this result</p>
{% endif %}

{% if hit.mimetype.startswith('image') %}
        <a href="#" onclick='window.openIpfs("{{ hit['path'] }}")'>
        <img id="img" src="{{ ipfsConnParams.gatewayUrl }}/{{ hit['path'] }}" width="20%"></img>
        </a>

{% elif (hit.mimetype.startswith('text') or hit.mimetype in preview_mimetypes) and hit.size < preview_maxsize %}
        <button onclick="previewFile('{{ hit.hash }}');">Preview</button>
        <div id="{{ hit.hash }}_preview" class="textpreview">
            <pre id="{{ hit.hash }}_text"></pre>
        </div>
{% else %}

{% endif %}
        </div>
    </div>
</div>

{% endfor %}
