graphEnvs:
  # Graphs definitions
  # ipg = interplanetary graph, g = galacteek
  alpha:
    # Pubsub service config
    pubsub:
      heartbeat:
        intervalMin: 150
        intervalMax: 280

    mSyncThrottler:
      rateLimit: 12
      period: 60
      retryInterval: 2.0

    graphs:
      # i (conjunctive)
      urn:ipg:i:
        name: i
        type: conjunctive
        guardian: urn:ipg:guardians:goliath

        namespace: 'urn:ipg:i'

        subgraphs:
          urn:ipg:i:i0:
            name: i_i0

          urn:ipg:i:i1:
            name: i_i1

          urn:ipg:i:am:
            name: i_am

          urn:ipg:i:articles:
            name: i_articles

          urn:ipg:i:uni:
            name: i_uni

          urn:ipg:i:uni:mw:ss:earth:
            name: i_uni_mw_ss_earth
            datasets:
              urn:glk:datasets:earth:
                url: https://gitlab.com/galacteek/dataset-earth/-/releases/continuous-master/downloads/dataset-earth.tar.gz

          urn:ipg:i:uni:mw:ss:earth:rings:
            name: i_uni_mw_ss_earth_rings

        services:
          sparql:
            exportsAllow: true

      urn:ipg:h0:
        name: h0

        services:
          sparql:
            exportsAllow: true

          sync:
            use: 'urn:ipg:sync:ontolochain1'

      urn:ipg:l:
        name: l
        type: conjunctive

        subgraphs:
          urn:ipg:l:l0:
            name: l_l0

      urn:ipg:icapsules:registries:
        type: conjunctive

        name: icapsules_registries
        guardian: urn:ipg:guardians:goliath

        subgraphs:
          urn:ipg:icapsules:registries:default:
            name: icapsules_registries_default

          urn:ipg:icapsules:registries:local:
            name: icapsules_registries_local

          urn:ipg:icapsules:registries:galacteek:purple:
            name: icapsules_registries_galacteek_purple

          urn:ipg:icapsules:registries:galacteek:purple:local:
            name: icapsules_registries_galacteek_purple_local

          urn:ipg:icapsules:registries:galacteek:blue:
            name: icapsules_registries_galacteek_blue

          urn:ipg:icapsules:registries:galacteek:blue:local:
            name: icapsules_registries_galacteek_blue_local

          urn:ipg:icapsules:registries:galacteek:red:
            name: icapsules_registries_galacteek_red

          urn:ipg:icapsules:registries:galacteek:red:local:
            name: icapsules_registries_galacteek_red_local

      # Hashmarks (conjunctive)
      urn:ipg:hashmarks:
        name: hashmarks
        type: conjunctive

        namespace: 'urn:ipg:hashmarks'

        subgraphs:
          urn:ipg:hashmarks:main:
            name: hashmarks_main

          urn:ipg:hashmarks:search:
            name: hashmarks_search

            services:
              sparql: {}

      # User's multimedia (conjunctive)
      urn:ipg:user:multimedia:
        name: user_multimedia
        type: conjunctive

        subgraphs:
          urn:ipg:user:multimedia:playlists:
            name: user_multimedia_playlists

          urn:ipg:user:multimedia:playlists:public:
            name: user_multimedia_playlists_public
            services:
              sparql: {}

              sync:
                use: urn:ipg:sync:sparql:playlists:bylibertarian
