# Galacteek @@GALACTEEK_VERSION@@

@@PRELUDE@@

## Release changelog

@@CHANGELOG@@

# Using the AppImage

After downloading the AppImage, make it executable and then run it:

```
chmod +x @@APPIMAGE_FILENAME@@
./@@APPIMAGE_FILENAME@@
```

The AppImage does **not** bundle libstdc++. If you use a Linux system with an old libstdc++ and cannot run the AppImage, please open an issue.

Be sure to install all the **gstreamer** packages to be able to use the mediaplayer.

If you have problems running the AppImage, be sure to visit
[this wiki page](https://gitlab.com/galacteek/galacteek/-/wikis/AppImage)
before opening an issue.
