# Galacteek @@G_VERSION@@ **prerelease**

# Using the AppImage

After downloading the AppImage, make it executable and then run it:

> chmod +x Galacteek-@@G_VERSION@@-x86_64.AppImage
./Galacteek-@@G_VERSION@@-x86_64.AppImage

The AppImage does **not** bundle libstdc++. If you use a Linux system with an old libstdc++ and cannot run the AppImage, please open an issue.

Be sure to install all the **gstreamer** packages to be able to use the mediaplayer.

# Using the DMG image

After opening/mounting the DMG image, hold Control and click on the **galacteek** icon, select **Open** and then accept. You probably need to allow the system to install applications *from anywhere* in the security settings.
