{% extends "usersite/layout.html" %}
{% from "usersite/macros/urls.html" import site_ipns_url %}
{% block body %}

<div>
{% if profile.userInfo.spaceHandle.valid %}
    <h2>{{ profile.userInfo.spaceHandle.short }}</h2>
{% else %}
    <h2>No valid IP handle assigned yet</h2>
{% endif %}
    <div>
        <p>
        <a href="{{ site_ipns_url(siteIpns, 'media/images/avatar') }}">
            <img src="{{ site_ipns_url(siteIpns, 'media/images/avatar') }}"/>
            </a>
        </p>
    </div>
</div>

{% endblock %}
